#loginBtn {
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-border-width: .4px;
    -fx-cursor: hand;
    -fx-text-fill: #00000;
    -fx-font-size: 14px;
}

#loginBtn:hover {
    -fx-background-color: #00145b;
    -fx-text-fill: #fff;
}
